<section class="products container">
  <div class="products_title">
    <p class="products_name">100% NATURAL</p>
    <p class="products_surname">PRODUCTS</p>
  </div>
  <div class="products-container">
    <ul class="products-container_list">
      <li class="list-item">
        <div class="list-item_pink">
          <div class="positiov">
            <picture>
              <source
              srcset="
              ./images/icecream.png 1x,                   
              ./images/icecream@2x.png 2x
              "
              media="(max-width: 767px)" />
            <source
              srcset="
              ./images/tabcream.png 1x,
              ./images/tabcream@2x.png 2x
              "
              media="(max-width: 1199px)" />
            <source
              srcset="
              ./images/deskcream.png  1x,
              ./images/deskcream@2x.png 2x
              "
              media="(min-width: 1200px)" />
            <img  class="image-icecream" src="./images/icecream.png" alt="coctail">
            </picture>
          <span class="list-item_name">ICE CREAM</span>
          <div class="bols">
            <div class="bols_tree"></div>
            <div class="bols_tree"></div>
            <div class="bols_tree"></div>
          </div>
          <p class="list-item_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
          <button class="list-item_button"></button>
        </div>
      </li>
      <li class="list-item">
        <div class="list-item_brown">
          <div class="positiov">
            <picture>
            <source srcset="
                      ./images/icecoffe1.png 1x,                   
                      ./images/icecofe1@2x.png 2x
                      " media="(max-width: 767px)" />
            <source srcset="
                      ./images/tabcofe.png 1x,
                      ./images/tabcofe@2x.png 2x
                      " media="(max-width: 1199px)" />
            <source srcset="
                      ./images/deskcjfe.png  1x,
                      ./images/deskcofe@2x.png 2x
                      " media="(min-width: 1200px)" />
            <img class="image-icecream" src="./images/icecoffe1.png" alt="coctail">
          </picture>
          
          <span class="list-item_name">ICE COFFEE</span>
          <div class="bols">
            <div class="bols_tree"></div>
            <div class="bols_tree"></div>
            <div class="bols_tree"></div>
          </div>
          <p class="list-item_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et. dolore magna aliqua facilisis. </p>
          <button class="list-item_button"></button></div>
        </div>
      </li>
      <li class="list-item">
        <div class="list-item_green">
          <div class="positiov" >
            <picture>
            <source srcset="
                      ./images/milk.png 1x,                   
                      /images/milk@2x.png 2x
                      " media="(max-width: 767px)" />
            <source srcset="
                      ./images/tabmilk.png 1x,
                      ./images/tabmilk@2x.png 2x
                      " media="(max-width: 1199px)" />
            <source srcset="
                      ./images/deskmilk.png  1x,
                      ./images/deskmilk@2x.png 2x
                      " media="(min-width: 1200px)" />
            <img class="image-icecream" src="./images/milk.png" alt="coctail">
          </picture>
          <span class="list-item_name">MILKSHAKES</span>
          <div class="bols">
            <div class="bols_tree"></div>
            <div class="bols_tree"></div>
            <div class="bols_tree"></div>
          </div>
          <p class="list-item_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et. dolore magna aliqua facilisis. </p>
          <button class="list-item_button"></button>
        </div>
        </div>
      </li>
    </ul>
  </div>
</section>

