<section class="products">
  <div class="products_title">
  <p class="products_name">100% NATURAL</p>
  <p class="products_surname">PRODUCTS</p>
</div>
  <div class="products-container">
    <ul class="products-container_list">
      <li class="list-item">
        <div class="list-item_pink">
      <img src=./images/products-mob-icecream.webp" alt="coctail">
          <span class="list-item_name">ICE CREAM</span>
          <p class="list-item_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
          <button class="list-item_button"></button>
        </div>
      </li>
      <li class="list-item">
        <div class="list-item_brown">

          <span class="list-item_name">ICE COFFEE</span>
          <p class="list-item_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
          <button class="list-item_button"></button>
        </div>
      </li>
      <li class="list-item">
        <div class="list-item_green">
         
          <span class="list-item_name">MILKSHAKES</span>
          <p class="list-item_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis. </p>
          <button class="list-item_button"></button>
        </div>
      </li>
    </ul>
  </div>
</section>