/* Базові стилі */
* {
  margin: 0;
}

html {
  box-sizing: border-box;
}
* {
  margin: 0px;
  padding: 0px;
}
* {
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-size: 14px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background-color: $primery-bg-color;
  color: $primary-text-color;
  font-family: $base-font;
  letter-spacing: 0.03em;
  &.modal-open {
    overflow: hidden;
  }
}

h1,
h2,
h3 {
  margin-top: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: 300px;
  }

  @media screen and (min-width: $tablet) {
    width: 696px;
  }
  @media screen and (min-width: $desctop) {
    width: 1054px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
