/* Перемінні */
$primary-text-color: #907e82;
$titel-text-color: #d41443;
$secondary-text-color: #000000;
$primery-bg-color: #ffffff;
$secondary-bg-color: #fff5f6;
$third-bg-color: #fff5f6;
$third-title-color: #ffa5ba;
$black: #000000;
$button-hover-color: #ecebeb;
$header-pink-floid: #ffb8ca;
$border-color: #e18298;

$base-font: 'DM Sans', sans-serif;
$secondary-font: 'Titan One', sans-serif;
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$slider-bg: #fafafa;
