.slider-first-img {
  width: 100%;
  margin-bottom: 80px;

  @media screen and (min-width: $tablet) {
    margin-bottom: 121px;
  }

  @media screen and (min-width: $desctop) {
    margin-bottom: 123px;
  }
}

.slider-text-bg {
  padding: 43px 66px 26px 57px;

  background-color: $slider-bg;
  background-image: url(../images/slider-underline.svg);
  background-position: right 52px bottom 21px;
  background-repeat: no-repeat;
  background-size: 180px 217px;

  @media screen and (min-width: $tablet) {
    padding: 47px 80px 34px 80px;
    background-image: url(../images/slider-underline-tablet.svg);
    background-position: right 108px bottom 27px;
    background-repeat: no-repeat;
    background-size: 543px 109px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    background-color: $primery-bg-color;
  }

  @media screen and (min-width: $desctop) {
    margin-left: auto;
    margin-right: auto;
    padding: 47px 89px 39px 87px;
    width: 926px;
    background-image: url(../images/slider-underline-desktop.svg);
    background-position: right 21px bottom 23px;
    background-repeat: no-repeat;
    background-size: 850px 97px;
  }
}

.slider-text {
  position: relative;
  z-index: 2;
  width: 157px;

  font-family: $base-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  color: $secondary-text-color;

  &::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 2px;
    z-index: -1;
    width: 54px;
    height: 40px;
    background-image: url(../images/slider-lapk.svg);
  }

  @media screen and (min-width: $tablet) {
    width: 460px;
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;

    &::before {
      left: -41px;
    }
  }

  @media screen and (min-width: $desctop) {
    width: 750px;
    font-size: 16px;
    line-height: 1.86;

    &::before {
      left: -37px;
    }
  }
}

.slider-items {
  text-align: center;
  margin: 0 0 172px 0;

  @media screen and (min-width: $tablet) {
    margin: 0 0 205px 0;
  }

  @media screen and (min-width: $desctop) {
    margin: 0 0 218px 0;
  }
}

.slider-second-img {
  margin-bottom: 29px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    margin-bottom: 19px;
  }

  @media screen and (min-width: $desctop) {
    margin-bottom: 15px;
  }
}

// .hidden {
//   visibility: hidden;
//   position: absolute;
// }

.slider-third-title {
  position: relative;
  margin: 52px 0 30px 0;

  font-family: $base-font;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  color: $secondary-text-color;

  &::before {
    content: '';
    position: absolute;
    top: -18px;
    left: 121px;

    width: 32px;
    height: 4px;

    background-image: url(../images/slider-dots.svg);
  }

  @media screen and (min-width: $tablet) {
    margin: 42px 0 35px 0;
    font-size: 16px;
    &::before {
      left: 328px;
    }
  }

  @media screen and (min-width: $desctop) {
    margin: 34px 0 35px 0;
    font-size: 20px;
    &::before {
      left: 508px;
    }
  }
}

.slider-control {
  display: flex;
  justify-content: center;
  margin-bottom: 86px;
}

.slider-control-item {
  margin-right: 18px;

  &:last-child {
    margin-right: 0;
  }
}

.siema button {
  background: #d9d9d9;
  border: none;
  outline: none;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  font-size: 0;
}

.siema button:hover,
.siema button:focus {
  background: transparent;
  background-image: url(../images/slider-houce.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.siema button:first-of-type {
  margin-right: 18px;
}

.siema button:first-of-type:active {
  background: transparent;
  background-image: url(../images/slider-houce.svg);
  background-repeat: no-repeat;
  background-position: center;
}

// .siema button:first-of-type:checked {
//   background: transparent;
//   background-image: url(../images/slider-houce.svg);
//   background-repeat: no-repeat;
//   background-position: center;
// }

.siema button:last-of-type {
  margin-left: 18px;
}
