li {
  list-style: none;
}
// .container{
//   padding-right: 20px;
//   padding-left: 20px;
//   margin-left: auto;
//   margin-right: auto;
//   @media screen and (max-width:767px){
//     width: 320px;
//   }

//   @media screen and(min-width:768px){
//     width: 768px;
//     padding-right: 35px;
//     padding-left: 35px;
//   }
//   @media screen and(min-width:1280px){
//     width: 1280px;
//     padding-right: 15px;
//     padding-left: 15px;

//   }
// }

.cow-main {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 17px;
  }
  @media screen and(min-width:1280px) {
    padding-top: 50px;
    margin-right: 74px;
  }
}

.cow-head_title {
  padding-top: 125px;
  margin-bottom: 16px;
  font-family: $secondary-font;
  font-size: 18px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;
  color: $third-title-color;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 30px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 34px;
  }
}

.cow-head {
  margin-left: auto;
  margin-right: auto;

  @media screen and(max-width:767px) {
    width: 200px;
    height: 76px;
    margin-bottom: 26px;
  }
}
.cow-head_text {
  margin-left: auto;
  margin-right: auto;
  font-family: $secondary-font;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $titel-text-color;

  @media screen and(max-width:767px) {
    width: 200px;
    height: 76px;
  }
  @media screen and (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    font-size: 48px;
    line-height: 55px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 66px;
  }
}
.cow-img {
  max-width: 100%;
  display: block;
  height: auto;
}

.cow-banner {
  max-width: 100%;
  display: block;
  width: 280px;
  height: 279px;
  width: 280px;
  height: 279px;
  padding-right: 20px;
  padding-left: 20px;

  @media screen and (min-width: 768px) {
    padding-left: 39px;
    width: 340px;
    height: 339px;
  }

  @media screen and(min-width:1280px) {
    width: 516px;
    height: 516px;
    padding-left: 112px;
  }
}

.cow {
  background-color: $secondary-bg-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media screen and(max-width:767px) {
    background-image: url('../images/cow-desk-milkbg.webp');
  }
  @media screen and (min-width: 1280px) {
    background-image: url('../images/cow-desk-milkbg.webp');
  }
}
.cow-arrow {
  width: 10px;
  height: 14px;
  align-items: center;
  margin-left: 14px;
}

.cow-main_title {
  margin-bottom: 48px;
  padding-right: 50px;
  padding-left: 50px;
  font-family: $base-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 176%;
  color: $black;

  @media screen and (min-width: 768px) {
    width: 340px;
    height: 79px;
    font-weight: 500;
    font-size: 14px;
    line-height: 176%;
  }
  @media screen and (min-width: 1280px) {
    width: 463px;
    height: 79px;
    font-weight: 500;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.04em;
  }
}

.secondary-title {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  font-family: $base-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: $primary-text-color;

  @media screen and (min-width: 768px) {
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1280px) {
    font-weight: 500;
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.04em;
  }
}
.cow-span {
  display: inline-block;
  margin-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 12px;
  line-height: 162%;

  @media screen and(min-width:768px) {
    margin-bottom: 62px;
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1280px) {
    font-size: 14px;
    line-height: 194%;
    letter-spacing: 0.04em;
  }
}
.cow-button {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 176px;
  height: 44px;
  margin-left: 50px;

  align-items: center;
  justify-content: center;

  background: $primery-bg-color;
  border-radius: 22px;
  cursor: pointer;
  @media screen and(max-width:767px) {
    margin-left: 50px;
    margin-bottom: 39px;
    // padding-left: 74px;
  }
  @media screen and (min-width: 768px) {
  }

  @media screen and (min-width: 1280px) {
  }
  &:hover,
  &:focus {
    background-color: $button-hover-color;
    transition: $animation;
  }
}
.cow-button_text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: auto;
  padding-bottom: auto;
  text-decoration: none;
  text-align: center;

  font-family: $base-font;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.3;
  color: $titel-text-color;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.3;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.3;
  }
}
.cow-main {
  @media screen and (min-width: 768px) {
    display: flex;
    padding-left: 36px;
    margin-top: 100px;
    margin-bottom: 66px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 102px;
    margin-bottom: 36px;
  }
}
.cow-banner {
  @media screen and(max-width:767px) {
    margin-bottom: 46px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 40px;

    margin-right: 18px;
    margin-top: -50px;
    width: 100%;
    height: 339px;

    max-width: 100%;
    display: block;
    background-size: contain;
  }
  @media screen and (min-width: 1280px) {
    margin-top: -47px;
    margin-right: 74px;
  }
}
