<section class="about-us">
<ul class="about-us-list_container container">
    <li class="about-us-list_item ">
        <div class="about-us-list-item_cafe">
            <p class="about-us-list-cafe-text">CAFE</p>
        </div>
    <div class="about-us-list-city">
        <h3 class="about-us-list-city-title">Chicago</h4>
        <p class="about-us-list-city-text about-us-grey-border">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    </div>
    <div class="about-us-list-city">
        <span class="about-us-list-city-title">Monday - Friday</span>
        <p class="about-us-list-city-text-workinghours ">06:00 AM - 10:00 PM</p>
        <span class="about-us-list-city-title">Saturday - Sunday</span>
        <p class="about-us-list-city-text-workinghours about-us-grey-border">08:00 AM - 16:00 PM</p>
    </div>
    <div class="about-us-list-city-contacts">
        <a href="tel:+610383766284" class="about-us-list-city-contacts-link">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" class="about-us-list-city-contacts-link">noreply@envato.com</a>
    </div>
    </li>
    <li class="about-us-list_item">      
        <div class="about-us-list-item_cafe2">
        <p class="about-us-list-cafe-text ">FOOD TRUCK</p>
    </div>
<div class="about-us-list-city">
    <h3 class="about-us-list-city-title">Los Angeles</h4>
    <p class="about-us-list-city-text about-us-grey-border">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
</div>
<div class="about-us-list-city">
    <span class="about-us-list-city-title">Monday - Friday</span>
    <p class="about-us-list-city-text-workinghours ">06:00 AM - 10:00 PM</p>
    <span class="about-us-list-city-title">Saturday - Sunday</span>
    <p class="about-us-list-city-text-workinghours about-us-grey-border">08:00 AM - 16:00 PM</p>
</div>
<div class="about-us-list-city-contacts">
    <a href="tel:+610383766284" class="about-us-list-city-contacts-link">+61(0) 383 766 284</a>
    <a href="mailto:noreply@envato.com" class="about-us-list-city-contacts-link">noreply@envato.com</a>
</div>
</li>
    <li class="about-us-list_item">
        <div class="about-us-list-item_cafe">
            <p class="about-us-list-cafe-text">CAFE</p>
        </div>
    <div class="about-us-list-city">
        <h3 class="about-us-list-city-title">New York</h4>
        <p class="about-us-list-city-text about-us-grey-border">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
    </div>
    <div class="about-us-list-city">
        <span class="about-us-list-city-title">Monday - Friday</span>
        <p class="about-us-list-city-text-workinghours ">06:00 AM - 10:00 PM</p>
        <span class="about-us-list-city-title">Saturday - Sunday</span>
        <p class="about-us-list-city-text-workinghours about-us-grey-border">08:00 AM - 16:00 PM</p>
    </div>
    <div class="about-us-list-city-contacts">
        <a href="tel:+610383766284" class="about-us-list-city-contacts-link">+61(0) 383 766 284</a>
        <a href="mailto:noreply@envato.com" class="about-us-list-city-contacts-link">noreply@envato.com</a>
    </div>
    </li>
</ul>

<ul class="about-us-buttons-container">
    <li class="about-us-buttons-item">
        <button class="about-us-button red-button">Our Locations
        <svg class="about-us-button-icon">
            <use href="./images/spreat.svg#icon-menu-arrow-white"></use>
        </svg>
        </button>
    </li>
    <li class="about-us-buttons-item">
        <button class="about-us-button white-button">Franchise
        <svg class="about-us-button-icon">
        <use href="./images/spreat.svg#icon-menu-arrow"></use>
    </svg></button></li>
</ul>
</section>