<section class="cow">
  <div>
    <h2 class="cow-head_title">tradition and love</h2>
    <h1 class="cow-head_text">how it’s made?</h1>
    <div class="cow-main">
      <!-- кариинка коровы -->
      <div class="cow-banner">
        <picture>
          <img
            class="cow-img"
            srcset="./images/cow-1x.png 1x, ./images/cow-2x.png 2x"
            src="./images/cow-1x.png"
            alt=""
          />
        </picture>
      </div>

      <div class="cow-text_container">
        <p class="cow-main_title">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="secondary-title">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
        </p>
        <span class="cow-span"> Aliquam erat volutpat. Aenean accumsan.</span>
        <div class="cow-button">
          <a href="" class="cow-button_text"
            >Read more
            <svg class="cow-arrow">
              <use href="./images/spreat.svg#icon-menu-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>

    <div class="cow-footer">
      <ul class="cow-footer_section">
        <li class="cow-pic">
          <img class="tasty" src="./images/cow-1.svg" alt="" />
          <p class="numbers">721</p>
          <p class="numbers_description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>

        <li class="cow-pic">
          <!--вторая ячейка с иконкой и текстами -->

          <img class="tasty" src="./images/cow-2.svg" alt="" />
          <p class="numbers">16kg</p>
          <p class="numbers_description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>

        <li class="cow-pic">
          <img class="tasty" src="./images/cow-3.svg" alt="" />
          <p class="numbers">84</p>
          <p class="numbers_description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
