 <section class="cow">
     <div >
        <p>
          <h2 class="cow-head_title">tradition and love
          </h2>
        </p>
     </div>

     <div class="cow-head" >
      <p>
        <h1 class="cow-head_text">how it’s made?
        </h1>
      </p>
     </div>
     <div class="cow-main">
      <ul class="cow-main_pic">
        <li class="cow-banner">
        <!-- кариинка коровы -->

        </li>


      </ul>
      <ul class="cow-main_title">
        <li >
          <p>Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
        </li>
        <li class="secondary-title">Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh, tincidunt.
        <span> Aliquam erat volutpat. Aenean accumsan.</span>
        </li>

        <li class="cow-button">
          <a href="" class="cow-button_text" > Read more</a>
          </li>



      </ul>

     </div>
     <div class="cow-footer">
      <ul >
        <li class="cow-footer_section">
       <!-- первая ячейка с иконкой и текстами -->
          <ul class="cow-footer_section_first">
            <li>
       <!--  иконка   -->
            </li>
            <li>
               <P class="numbers">721</P>
         <!-- текст увеличенный</li> -->
            </li>
            <li>
              <P class="numbers_description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</P>
         <!-- текст -->
            </li>
          </ul>
        </li>
        <li>
        <!--вторая ячейка с иконкой и текстами -->
          <ul class="cow-footer_section_second">
            <li>
       <!--  иконка   -->
            </li>
            <li>
              <P class="numbers">16kg</P>
         <!-- текст увеличенный</li> -->
            </li>
            <li>
               <P class="numbers_description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</P>
         <!-- текст -->
            </li>
          </ul>
        </li>

        <li>
          <ul class="cow-footer_section_third">
        <!-- тетьяя ячейка с иконкой и текстами -->
            <li>
       <!--  иконка   -->
            </li>
            <li>
              <p class="numbers">84</p>
         <!-- текст увеличенный</li> -->
            </li>
            <li>
               <p class="numbers_description">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
         <!-- текст -->
            </li>
          </ul>
        </li>
        </ul>



     </ul>
     </div>


    </section>
