
<footer class=" footer-container ">
    <div class="footer-container-topsection container">
<div class="footer-container-top ">
    <span class="footer-title">homemade ice cream made</span>
    <p class="footer-title-text">with passion</p>
</div>
<div class="footer-container-bot">
<ul class="footer-social">
    <li class="footer-social-item">
        <svg class="footer-social-icon">
            <use href="./images/spreat.svg#icon-github"></use>
        </svg>
    </li>
    <li class="footer-social-item">
        <svg class="footer-social-icon">
            <use href="./images/spreat.svg#icon-telegram"></use>
        </svg>
    </li>
    <li class="footer-social-item">
        <svg class="footer-social-icon">
            <use href="./images/spreat.svg#icon-facebook"></use>
        </svg>
    </li>
</ul>
<div class="footer-contacts-container">
<span class="footer-contacts-text footer-contacts-text-font">Feel free to contact
    <a href="tel:+610383766284" class="footer-contacts-tel footer-contacts-text-font">+61 (0) 383 766 284</a>
</span>
</div>
</div>
</div>
<div class="footer-copyright-section container">
    <span class="footer-copyright-text">&copy; 2019 - IceCream. All Rights Reserved.</span>
</div>
</footer>