<div class="backgound-color">
  <div class="header-container container">
    <div class="header-container_content">
      <img src="./images/logo.png" alt="logo" width="200" height="50" />
      <div class="section-burger">
        <div class="overlay">
          <nav class="overlayMenu">
            <ul role="menu">
              <li><a href="#" role="menuitem">Home</a></li>
              <li><a href="#" role="menuitem">About us</a></li>
              <li><a href="#" role="menuitem">How it’s made?</a></li>
              <li><a href="#" role="menuitem">Our p[roducts</a></li>
              <li><a href="#" role="menuitem">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="navBurger" role="navigation" id="navToggle"></div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      </div>
    </div>
    <div class="banner-container">
      <div class="banner-ice"></div>
      <div class="banner-content">
        <div class="banner-content_text">
          <span class="banner-text">ice cream made with</span>
          <span class="banner-text_second">passion</span>
        </div>
        <div class="product-link">
          <a href="#" class="link-text">Product</a>
        </div>
        <div class="product-link product-link_size">
          <a href="#" class="manufacturer link-text">How it’s made?</a>
        </div>
      </div>
    </div>
  </div>
</div>
