<div class="backgound-color">
  <div class="container">
    <div class="header-container container_t">
      <div class="header-container_content">
        <img
          srcset="./images/logo.png 320w, ./images/logo2x.png 640w"
          src="./images/logo.png"
          alt="logo"
          width="200px"
          height="50px"
        />
        <div class="header_menu_bth">
          <button
            type="button"
            class="menu-button"
            aria-expanded="false"
            aria-controls="menu-mobile"
            data-menu-button
          >
            <svg class="button-icon" width="20px" height="20px" id="myDIV">
              <use
                class="icon-menu"
                href="./images/spreat.svg#icon-Burger"
              ></use>
              <use
                class="icon-close"
                href="./images/spreat.svg#icon-close"
              ></use>
            </svg>
          </button>
        </div>
        <div class="buy-buttom_menu" id="myDIV">
          <a href="#" class="buy-buttom_t_menu">
            Buy now
            <svg class="button-b_menu">
              <use
                class="icon-menu-arrow"
                href="./images/spreat.svg#icon-menu-arrow"
              ></use>
            </svg>
          </a>
        </div>
        <div class="menu-mobile" id="menu-mobile" data-menu>
          <nav class="burger_nav">
            <div class="buy-buttom">
              <a href="#" class="buy-buttom_t">
                Buy now
                <svg class="button-b">
                  <use
                    class="icon-menu-arrow"
                    href="./images/spreat.svg#icon-menu-arrow"
                  ></use>
                </svg>
              </a>
            </div>
            <ul class="site-nav">
              <li class="site-nav-item">
                <a href="#" class="site-nav-link">Home</a>
              </li>
              <li class="site-nav-item">
                <a href="#" class="site-nav-link">About us</a>
              </li>
              <li class="site-nav-item">
                <a href="#" class="site-nav-link">How it's made ?</a>
              </li>
              <li class="site-nav-item">
                <a href="#" class="site-nav-link">Our products</a>
              </li>
              <li class="site-nav-item">
                <a href="#" class="site-nav-link">Contact</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="banner-ice"></div>
      <div class="banner-content">
        <div class="banner-content_text">
          <p class="banner-text banner-content_w">ice cream made with</p>
          <span class="banner-text_second">passion</span>
        </div>
        <div class="banner-content_w">
          <div class="product-link">
            <a href="#" class="link-text">Product</a>
          </div>
          <div class="product-link product-link_size">
            <a href="#" class="manufacturer link-text">How it’s made?</a>
          </div>
        </div>
        <div class="milk_box">
          <img
            sccset="./images/slider-milk.png 200w, ./images/slider-milk2x.png 400w"
            src="./images/slider-milk2x.png"
            alt="foto"
          />
          <div>
            <p class="banner-text-milk">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <div class="milk-circle">
              <picture>
                <img src="./images/arrow-right.png" alt="" />
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="right-box">
        <div class="righr-box_one">
          <p class="right-box_numbers">16</p>
          <p class="right-box_word right-box_word_c">cafes</p>
        </div>
        <div class="right-box_two">
          <p class="right-box_numbers">23</p>
          <p class="right-box_word right-box_word_f">food tracks</p>
        </div>
      </div>
      <div class="right-box_p">
        <img
          sccset="./images/slider-pic4.png 200w, ./images/slider-pic42x.png 400w"
          src="./images/slider-pic42x.png"
          alt="foto"
        />
      </div>
    </div>
  </div>

  <script>
    (() => {
      const menuBtnRef = document.querySelector('[data-menu-button]');
      const mobileMenuRef = document.querySelector('[data-menu]');

      menuBtnRef.addEventListener('click', () => {
        const expanded =
          menuBtnRef.getAttribute('aria-expanded') === 'true' || false;
        menuBtnRef.classList.toggle('is-open');
        menuBtnRef.setAttribute('aria-expanded', !expanded);
        mobileMenuRef.classList.toggle('is-open');
      });
    })();
  </script>
  <script>
    function myFunction() {
      var x = document.getElementById('myDIV');
      if (x.style.display === 'none') {
        x.style.display = 'block';
      } else {
        x.style.display = 'none';
      }
    }
  </script>
</div>
