<section class="section-slider container">
  <picture>
    <source
      srcset="./images/slider@1x.webp 1x, ./images/slider@2x.webp 2x"
      type="image/webp"
    />
    <img
      class="slider-first-img"
      srcset="./images/slider@1x.jpg 1x, ./images/slider@2x.jpg 2x"
      src="./images/slider@1x.jpg"
      alt="slider"
    />
  </picture>
  <ul class="slider-items">
    <li>
      <picture>
        <source srcset="./images/slider-firstwoman.webp" type="image/webp" />
        <img
          class="slider-second-img"
          src="./images/slider-firstwoman.webp"
          alt=""
        />
      </picture>
      <p class="slider-text">
        <span class="slider-border">Nullam viverra </span>
        <span class="slider-border">consectetuer. Quisque </span>
        <span class="slider-border">cursus et, porttitor risus. </span>
        <span class="slider-border">Aliquam sem. In hendrerit </span>
        <span class="slider-border">nulla quam nunc, </span>
        <span class="slider-border">accumsan congue. Lorem </span>
        <span class="slider-border">ipsum primis in nibh vel </span>
        <span class="slider-border">risus.</span>
      </p>
      <h3 class="slider-third-title">Emily, Los Angeles</h3>
    </li>
    <li class="hidden">
      <picture>
        <source srcset="./images/slider-secondwoman.webp" type="image/webp" />
        <img
          class="slider-second-img"
          src="./images/slider-secondwoman.webp"
          alt=""
        />
      </picture>
      <!-- <p class="slider-text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
      <h3 class="slider-third">Emily, Los Angeles</h3> -->
    </li>
    <li class="hidden">
      <picture>
        <source srcset="./images/slider-thirdwoman.webp" type="image/webp" />
        <img
          class="slider-second-img"
          src="./images/slider-thirdwoman.webp"
          alt=""
        />
      </picture>
      <!-- <p class="slider-text">
        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
        sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis
        in nibh vel risus.
      </p>
      <h3 class="slider-third">Emily, Los Angeles</h3> -->
    </li>
  </ul>
  <ul class="slider-control">
    <li class="slider-control-item">
      <svg width="13px" height="12px">
        <use href="./images/spreat.svg#icon-slider-house"></use>
      </svg>
    </li>
    <li class="slider-control-item">
      <svg width="13px" height="12px">
        <use href="./images/spreat.svg#icon-slider-circle"></use>
      </svg>
    </li>
    <li class="slider-control-item">
      <svg width="12px" height="12px">
        <use href="./images/spreat.svg#icon-slider-circle"></use>
      </svg>
    </li>
  </ul>
</section>
