/*products*/
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-size: 14px;
}

.products {
  // background-color:#E5E5E5;
  padding-top: 100px;

  @media screen and (max-width: 767px) {
    padding-bottom: 98px;
  }
}
/* надпись*/

.products_name {
  font-family: $secondary-font;
  font-size: 18px;
  line-height: 21px;
  line-height: 100%;
  vertical-align: Top;
  color: $third-title-color;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.products_surname {
  font-family: $secondary-font;
  font-size: 34px;
  line-height: 39px;
  vertical-align: Top;
  letter-spacing: 4%;
  color: $titel-text-color;
  display: flex;
  justify-content: center;
  margin-bottom: 160px;
}

/*обертка*/

.products-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

/*блоки*/

.list-item_pink {
  background-color: #ffb8ca;
  width: 280px;
  height: 485px;
  border-radius: 24px;
  margin-bottom: 130px;
}

.list-item_brown {
  background: #f0d1a5;
  border-radius: 24px;
  width: 280px;
  height: 485px;
  margin-bottom: 130px;
}

.list-item_green {
  background: #c2e297;
  border-radius: 24px;
  width: 280px;
  height: 485px;
}

/*внутренность*/

.list-item_name {
  color: $primery-bg-color;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 23px;
  line-height: 100%;
  text-align: center;
}

.list-item_text {
  width: 200px;
  height: 124px;
  color: $primery-bg-color;
  font-family: $base-font;
  font-style: Bold;
  font-size: 14px;
  line-height: 21px;
  line-height: 152%;
  vertical-align: Top;
  letter-spacing: 4%;
  text-align: center;
  margin-left: 40px;
}

.list-item_button {
  width: 40px;
  height: 40px;
  background-image: url(../images/arrow-right4.png);
  border-radius: 24px;
  border: 0;
  left: 140px;
  margin-top: 30px;
  outline: none;
}

// .list-item {
//   margin-bottom: 18px;
// }

/* точки*/

.bols {
  width: 26px;
  height: 8px;
  display: flex;
  justify-content: space-between;
  margin-left: 126px;
  margin-top: 30px;
  margin-bottom: 36px;
}

.bols_tree {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $primery-bg-color;
}

/*icecream*/

.image-icecream {
  margin-top: -113px;
  margin-bottom: 22px;

  @media screen and (max-width: 767px) {
    margin-left: 20px;
  }
}

/*media*/

@media (min-width: 768px) {
  .products-container_list {
    display: flex;
    justify-content: space-between;
  }

  .list-item {
    margin-right: 20px;
  }
  .products_name {
    font-size: 26px;
    line-height: 30px;
  }

  .products_surname {
    font-size: 48px;
    line-height: 55px;
    margin-bottom: 168px;
  }

  .list-item_brown {
    width: 220px;
    height: 485px;
  }

  .list-item_pink {
    width: 220px;
    height: 485px;
  }

  .list-item_green {
    width: 220px;
    height: 485px;
  }

  .list-item_name {
    margin-top: 30px;
  }

  .bols {
    margin-left: 98px;
  }

  .list-item_text {
    width: 198px;
    margin-left: 11px;
    font-size: 14px;
    line-height: 176%;
  }

  .list-item_button {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  /*width="249px" height="252px"*/
}

@media (min-width: 1280px) {
  .list-item {
    margin-right: 29px;
  }

  .products_name {
    font-size: 30px;
    line-height: 34px;
  }

  .products_surname {
    font-size: 58px;
    line-height: 66px;
    margin-bottom: 278px;
  }

  .list-item_brown {
    width: 330px;
    height: 526px;
  }

  .list-item_pink {
    width: 330px;
    height: 526px;
  }

  .list-item_green {
    width: 330px;
    height: 526px;
  }

  .bols {
    margin-left: 150px;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .list-item_text {
    font-size: 16px;
    line-height: 176%;
  }

  .list-item_button {
    margin-top: 62px;
    margin-bottom: 50px;
  }

  .list-item_text {
    width: 241px;
    height: 106px;
    font-size: 16px;
    line-height: 176%;
    margin-left: 44px;
  }
  .image-icecream {
    margin-top: -223px;
    margin-bottom: 22px;
  }
}

.positiov {
  position: absolute;
}
