.backgound-color {
  height: 507px;
  position: relative;
  background: $header-pink-floid url('../images/Ellipse.png') no-repeat;
  background-position: right 80px;
  @media screen and (min-width: 768px) {
    height: 400px;
    background: $header-pink-floid url('../images/Ellipse_table.png') no-repeat;
    background-position: 300px 40px;
  }
  @media screen and (min-width: 1200px) {
    height: 643px;
    background: $header-pink-floid url('../images/Ellipse_3.png') no-repeat;
    background-position: 520px 40px;
  }
}
.menu-button {
  width: 20px;
  z-index: 4;
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (max-width: 767px) {
    width: 20px;
  }
  & .icon-close {
    display: none;
  }
  &.is-open .icon-close {
    display: block;
    // @media screen and (min-width: 768px) {
    //   transform: translateX(200px);
    // }
  }
  &.is-open .icon-menu {
    display: none;
    width: 218px;
  }
  @media screen and (min-width: 768px) {
    &.is-open {
      transform: translateX(200px);
    }
  }
}
.site-nav-link {
  cursor: pointer;
  display: block;
  height: 40px;
  color: $primery-bg-color;
  font-family: $base-font;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  &:hover {
    color: $titel-text-color;
  }
  &:focus {
    color: $titel-text-color;
  }
}
.site-nav-item {
  height: 42px;
  display: flex;
  margin-left: 20px;
  @media screen and (max-width: 1279px) {
    border-bottom: 1px solid $border-color;
    padding-top: 10px;
    &:first-child {
      border-top: 1px solid $border-color;
    }
  }
  @media screen and (min-width: $desctop) {
    margin: 0;
    padding: 0;
    margin-right: 34px;
  }
}
.header_menu_bth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (min-width: 768px) {
    width: 216px;
    position: relative;
    right: -5px;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.buy-buttom_menu {
  margin-right: 32px;
  right: 0;
  position: absolute;
  width: 164px;
  height: 44px;
  border: none;
  background-color: $primery-bg-color;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  outline: none;
  display: inline-block;
  border-radius: 20px;
  @media screen and (min-width: 1200px) {
    margin-right: 130px;
  }
  @media screen and (max-width: 766px) {
    z-index: -1;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
  &_size {
    width: 82px;
    height: 24px;
  }
  &:hover {
    background-color: $titel-text-color;
  }
  &:focus {
    background-color: $titel-text-color;
  }
  .buy-buttom_t_menu {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 44px;
    color: $titel-text-color;
    font-family: $base-font;
    font-weight: bold;
    font-size: 16px;
    margin: 0 auto;
    letter-spacing: 0.04em;
    &:hover {
      color: $primery-bg-color;
    }
    &:focus {
      color: $primery-bg-color;
    }
  }
}
.header-container_content {
  width: 280px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 146px;
  @media (min-width: 768px) and (max-width: 1199px) {
    width: 700px;
    margin-bottom: 28px;
  }
  @media screen and (max-width: 1200px) {
    align-items: center;
    .buy-buttom_t {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 210px;
      height: 44px;
      color: $titel-text-color;
      font-family: $base-font;
      font-weight: bold;
      font-size: 16px;
      margin: 0 auto;
      letter-spacing: 0.04em;
      &:hover {
        color: $primery-bg-color;
      }
      &:focus {
        color: $primery-bg-color;
      }
    }
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 80px;
  }
}
.button-b {
  width: 20px;
  height: 10px;
  position: absolute;
  right: 52px;
}
.banner-ice {
  width: 170px;
  height: 410px;
  position: absolute;
  top: 96px;
  right: 30px;
  background: url('../images/slider.png') no-repeat;
  @media screen and (min-width: 768px) {
    background: url('../images/slider-table-min.png') no-repeat;
    width: 144px;
    height: 336px;
    right: 0;
    top: 63px;
    left: 368px;
  }
  @media screen and (min-width: 1200px) {
    background: url('../images/slider-pic7d.png') no-repeat;
    top: 86px;
    left: 660px;
    height: 556px;
    width: 236px;
  }
}
.banner-content {
  position: absolute;
  height: 62px;
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-top: 20px;
  }
}
.banner-text {
  color: $primery-bg-color;
  font-family: $secondary-font;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}
.banner-text_second {
  text-transform: uppercase;
  font-family: $secondary-font;
  font-weight: 500;
  font-size: 52px;
  color: $titel-text-color;
}
.product-link {
  border: none;
  background-color: $titel-text-color;
  cursor: pointer;
  width: 62px;
  height: 24px;
  text-align: center;
  transition: all 0.2s linear;
  outline: none;
  display: inline-block;
  border-radius: 20px;
  margin-top: 10px;
  &_size {
    width: 82px;
    height: 24px;
  }
  &:hover {
    background-color: $primery-bg-color;
  }
  &:focus {
    background-color: $primery-bg-color;
  }
}
.link-text {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 24px;
  color: $primery-bg-color;
  font-size: 8px;
  line-height: 10px;
  font-family: $base-font;
  margin: 0 auto;
  letter-spacing: 0.04em;
  &:hover {
    color: $titel-text-color;
  }
  &:focus {
    color: $titel-text-color;
  }
}
.manufacturer {
  width: 82px;
}
.container_t {
  padding-top: 6px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-right: 0;
    padding-top: 38px;
  }
}
.burger_conteiner {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.milk_box {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    width: 124px;
    height: 124px;
  }
  @media screen and (min-width: 1200px) {
    width: 188px;
    height: 192px;
    position: relative;
    right: 53px;
    margin-top: 40px;
  }
}
.banner-text-milk {
  margin-top: 42%;
  color: $primery-bg-color;
  width: 120px;
  height: 48px;
  font-family: $base-font;
  font-size: 8px;
  line-height: 150%;

  @media screen and (min-width: 1200px) {
    margin-left: 20px;
    margin-top: 32%;
    font-size: 14px;
    line-height: 140%;
    width: 200px;
    height: 78px;
  }
}
.milk-circle {
  margin-top: 6%;
  width: 18px;
  height: 18px;
  @media screen and (min-width: 1200px) {
    width: 26px;
    height: 26px;
    margin-left: 20px;
  }
}
.banner-content_w {
  width: 218px;
}

.burger_nav {
  z-index: 1;
  height: 502px;

  @media screen and (min-width: $tablet) {
    height: 1020px;
  }
  @media screen and (max-width: 1199px) {
    margin-top: 90px;
    margin-left: 16px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    height: 42px;
    justify-content: space-between;
    transform: translateY(0);
  }
}
.menu-mobile {
  z-index: 3;
  display: flex;
  @media screen and (max-width: 1199px) {
    justify-content: space-between;
    @media screen and (max-width: 1199px) {
      position: absolute;
      top: 0;
      width: 250px;
      right: 0;
      transform: translateY(-150%);
      transition: $animation;
      text-align: center;
      background-color: #e17992;
      border-top: 1px solid #ececec;
      &.is-open {
        display: block;
        transform: translateX(0);
      }
    }
  }
  // @media screen and (min-width: 1200px) {
  //   display: none;
  // }
}
.right-box {
  width: 60px;
  height: 100px;
  position: absolute;
  right: 20px;
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 80px;
    width: 72px;
    height: 100px;
  }
}
.right-box_numbers {
  font-family: $secondary-font;
  font-size: 28px;
  line-height: 32px;
  color: $titel-text-color;
  z-index: 1;
  position: relative;
  &::after {
    content: '';
    width: 16px;
    height: 16px;
    background-color: $primery-bg-color;
    position: absolute;
    border-radius: 100px;
    right: 20px;
    position: absolute;
    z-index: -1;
  }
  @media screen and (min-width: 1200px) {
    font-size: 46px;
    line-height: 53px;
    &::after {
      content: '';
      width: 32px;
      height: 32px;
      background-color: $primery-bg-color;
      position: absolute;
      border-radius: 100px;
      right: 0;
      position: absolute;
      z-index: -1;
    }
  }
}
.right-box_word {
  font-family: $base-font;
  font-size: 8px;
  line-height: 10px;
  color: $primery-bg-color;
  position: absolute;
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 18px;
  }
}
.right-box_word_c {
  right: 24px;
}
.right-box_word_f {
  left: -8px;
}
.right-box_two {
  margin-top: 20px;
}
.right-box_p {
  position: absolute;
  right: 34px;
  display: none;
  top: 267px;
  @media screen and (min-width: 768px) {
    display: block;
    width: 168px;
    height: 144px;
  }
  @media screen and (min-width: 1200px) {
    top: 410px;
    display: block;
    width: 294px;
    height: 232px;
    right: 80px;
  }
}
.button-icon_menu {
  left: 190px;
  @media screen and (max-width: 767px) {
    position: relative;
  }
}
.button-icon .icon-close {
  @media screen and (min-width: 768px) {
    display: none;
    z-index: 8;
  }
}
.site-nav {
  @media screen and (min-width: 1200px) {
    display: flex;
    position: relative;
    width: 542px;
    left: 8%;
    top: 14px;
  }
}
.buy-buttom {
  margin-top: 24px;
  border: none;
  background-color: $primery-bg-color;
  cursor: pointer;
  width: 210px;
  height: 44px;
  text-align: center;
  transition: all 0.2s linear;
  outline: none;
  display: inline-block;
  border-radius: 20px;
  &_size {
    width: 82px;
    height: 24px;
  }
  &:hover {
    background-color: $titel-text-color;
  }
  &:focus {
    background-color: $titel-text-color;
  }
}
.buy-buttom {
  display: block;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.button-b_menu {
  width: 20px;
  height: 10px;
  position: absolute;
  right: 18px;
}
