.about-us {
  background: $secondary-bg-color;

  @media screen and (min-width: 1280px) {
    background-image: url(../images/footer-bg.webp);
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.about-us-list_container {
  background: $secondary-bg-color;
  margin-bottom: 54px;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    justify-content: center;
  }
}

.about-us-list_item {
  position: relative;
  transform: translateY(-84px);

  margin-left: auto;
  margin-right: auto;
  background: $primery-bg-color;
  padding: 51px 44px 62px 43px;
  width: 220px;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @media screen and (min-width: 1280px) {
    margin: 0;
    width: calc((100% - (2 * 31px)) / 3);

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.about-us-list-item_cafe {
  width: 80px;
  background: #f0d1a5;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.about-us-list-item_cafe2 {
  width: 138px;
  background: #c2e297;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.about-us-list-cafe-text {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: $primery-bg-color;
}

.about-us-list-city-title {
  font-family: $base-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  letter-spacing: 0.04em;
  color: $secondary-text-color;
}

.about-us-list-city-text {
  font-family: $base-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $primary-text-color;
}

.about-us-grey-border {
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 25px;
}

.about-us-buttons-container {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}

.about-us-buttons-item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &:last-child {
    padding-bottom: 113px;
  }
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 0;
    margin-right: 0;

    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 14px;
    }
  }
}

.about-us-list-city-text-workinghours {
  font-family: $base-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 186%;
  color: $third-title-color;
  margin: 0;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.about-us-list-city-contacts {
  margin-top: 25px;
}

.about-us-list-city-contacts-link {
  font-family: $base-font;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $primary-text-color;
}

.about-us-button {
  display: block;
  margin: 0 auto;
  width: 162px;
  height: 44px;
  border-radius: 22px;
  outline: 0;
  border: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;

  @media screen and (min-width: 768px) {
    width: 192px;
    height: 44px;
  }

  @media screen and (min-width: 1280px) {
    width: 198px;
    height: 44px;
  }
}

.red-button {
  color: $primery-bg-color;
  background: $titel-text-color;
  border-radius: 22px;
}

.white-button {
  background: $primery-bg-color;
  color: $titel-text-color;
  border-radius: 22px;

  &:hover,
  &:focus {
    background-color: $button-hover-color;
  }
}

.about-us-button-icon {
  width: 11px;
  height: 11px;
  color: $titel-text-color;
  fill: $titel-text-color;
  margin-left: 14px;
}
